header {
  transition: 1s all;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  top: 0;
  justify-content: center;
  .wrapper-header {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav {
      margin-right: 186.5px;
      display: flex;
      width: 744/1440*100%;
      justify-content: space-between;
      align-items: center;
      a {
        font-size: 16px;
        text-decoration: none;
        color: white;
        font-weight: 500;
        border-bottom: rgba(255, 255, 255, 0) 2px solid;
        &:hover {
          border-bottom: #8B1A12 2px solid;
          transition: 1s all;
        }
      }
    }
    img {
      margin-left: 121px;
      width: 80px;
      height: 80px;
      margin-top: 16px;
    }
  }

}

header:nth-child(2) {
  position: fixed;
  display: none;
  height: 80px;
  background-color: white;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  .wrapper-header {
    nav {
      a {
        color: black;
      }
    }
    img {
      width: 62px;
      height: 62px;
      margin-top: 0;
    }
  }

}

@keyframes anim-header {
  0% {
    margin-top: -80px;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes anim-header-reverse {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -80px;
    display: none;
  }
}


@media screen and (max-width: 1440px) {
  header {
    width: 100%;
    .wrapper-header {
      nav {
        justify-self: start;
        width: 744px;
        margin-right: 120/1440*100%;
        margin-left: 5%;
      }
      img {
        margin-left: 121/1440*100%;
      }
    }
  }

}

@media screen and (max-width: 1000px) {
  header {
    .wrapper-header {
      nav {
        width: 70%;

      }

    }

  }
}
